@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-heritage-paper text-slate-900 font-sans antialiased;
  }
}

/* Custom Marker Styling for Leaflet */
.custom-heritage-marker {
  background: transparent;
  border: none;
}

/* Hide Scrollbars in smooth horizontal containers */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Keyframe Animations */
@keyframes spinSlow {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spinSlow 12s linear infinite;
}
